html, body, .web-container, .row {
  height: 100%;
  margin: 0;
}
.row{
	margin: 0px;
}
.web-container .left-side{
	height: 100%;
	overflow-y: scroll;
}
.web-container .right-side{
	height: 100%;
	overflow-y: scroll;
}
.cl1{
	background-color: blue;
	height: 500px;
	margin-bottom: 10px;
}