<div class="modal-header">
    <h4><b>ĐĂNG KÝ TÀI KHOẢN</b></h4>
</div>
<div class="modal-body">
    <input type="text" placeholder="Địa Chỉ Email">
    <br>
    <br>
    <input type="password" placeholder="Mật Khẩu">
    <br>
    <br>
    <input type="password" placeholder="Nhập Lại Mật Khẩu">
</div>
<div class="modal-footer">
    <button class="btn btn-login" ng-click="signup()"><b>ĐĂNG KÝ</b></button>
    <br>
    <br>
    <button class="btn btn-warning" ng-click="signupWithEmail()"><b>ĐĂNG KÝ VỚI EMAIL</b></button>
</div>