<div class="containers product-detail row">
	<div class="col-md-1" contact></div>
    <div class="col-md-2" category></div>
    <div class="col-md-9 products">
        <h4>THÔNG TIN SẢN PHẨM</h4>
        <div class="row">
            <div class="col-md-6">
            	<img id="mainImage" src="sio-portal/asset/toy-1.jpg"><br>
            	<div class="small-images">
	            	<ul>
	            		<li><img ng-click="showImageByUrl('sio-portal/asset/toy-1.jpg')" src="sio-portal/asset/toy-1.jpg"></li>
	            		<li><img ng-click="showImageByUrl('sio-portal/asset/toy-2.jfif')" src="sio-portal/asset/toy-2.jfif"></li>
	            		<li><img ng-click="showImageByUrl('sio-portal/asset/toy-3.jpg')" src="sio-portal/asset/toy-3.jpg"></li>
	            		<li><img ng-click="showImageByUrl('sio-portal/asset/toy-4.jfif')" src="sio-portal/asset/toy-4.jfif"></li>
	            		<li><img ng-click="showImageByUrl('sio-portal/asset/toy-5.jpg')" src="sio-portal/asset/toy-5.jpg"></li>
	            	</ul>
            	</div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><h3>XE CỦI HÌNH HỌC</h3></li>
                    <li><b>GÍA CỦ: </b><del>40.000 (VND)</del></li>
                    <li><b>GIÁ KHUYẾN MÃI: </b>35.0000 (VND)</li>
                    <li><b>XUẤT XỨ: </b>Việt Nam</li>
                    <li><b>KÍCH THƯỚC: </b>5 x 7 x 8</li>
                    <li><b>SỐ LƯỢNG HIỆN CÓ: </b>9</li>
                    <li><b>SỐ LƯỢNG: </b><input type="number" placeholder="Số Lượng"></li>
                    <li><button class="btn btn-info">CHO VÀO GIỎ HÀNG</button></li>
                </ul>
            </div>
        </div>
        <br/>
        <h4>THÔNG TIN CHI TIẾT</h4>
        <p>
            Các chữ được khắc sâu trên một bảng gỗ cứng để bé có thể dễ dàng rà và tìm đúng vị trí của từng chữ. Cảm nhận trực quan bằng tất cả các giác quan giúp cho bé in sâu và trí nhớ nhanh chóng.
            Bảng chữ cái khối gỗ là hoàn hảo cho trẻ nhỏ vì chúng sẽ thích, đặt đúng ô, xếp chồng, đếm và học các chữ cái khi chơi.
        </p>
        <br/>
        <h4>SẢN PHẨM CÙNG LOẠI</h4>
        <div class="related-products">
            <ul>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-1.jpg"></div></a></li>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-3.jpg"></div></a></li>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-5.jpg"></div></a></li>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-7.jpg"></div></a></li>
            </ul>
        </div>
        <div class="prev-next">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
    </div>
</div>