<div class="containers product-detail row">
	<div class="col-md-1" contact></div>
    <div class="col-md-2" category></div>
    <div class="col-md-9 products">
        <h4>THÔNG TIN SẢN PHẨM</h4>
        <div class="row">
            <div class="col-md-6">
            	<img id="mainImage" src="{{product.images[0]}}"><br>
            	<div class="small-images">
	            	<ul>
	            		<li ng-repeat="image in product.images">
	            			<img ng-click="showImageByUrl(image)" src="{{image}}">
	            		</li>
	            	</ul>
            	</div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><h3>{{product.name}}</h3></li>
                    <li><b>GÍA CỦ: </b><del>{{product.oldPrice}} (VND)</del></li>
                    <li><b>GIÁ KHUYẾN MÃI: </b>{{product.sellingPrice}} (VND)</li>
                    <li><b>XUẤT XỨ: </b>{{product.madeIn}}</li>
                    <li><b>KÍCH THƯỚC: </b>{{product.size}}</li>
                    <li><b>SỐ LƯỢNG HIỆN CÓ: </b>{{product.currentAmount}}</li>
                    <li><b>SỐ LƯỢNG: </b><input type="number" placeholder="Số Lượng"></li>
                    <li><button class="btn btn-info">CHO VÀO GIỎ HÀNG</button></li>
                </ul>
            </div>
        </div>
        <br/>
        <h4>THÔNG TIN CHI TIẾT</h4>
        <p>{{product.description}}</p>
        <br/>
        <h4>SẢN PHẨM CÙNG LOẠI</h4>
        <div class="related-products">
            <ul>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-1.jpg"></div></a></li>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-3.jpg"></div></a></li>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-5.jpg"></div></a></li>
                <li><a href="#"><div class="related-product"><img src="sio-portal/asset/toy-7.jpg"></div></a></li>
            </ul>
        </div>
        <div class="prev-next">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </div>
    </div>
</div>